@import 'src/styles/variables';

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: $primary-bg;
  font-size: 14px;
  line-height: 1.5;
}
