// colors
$black: #000;
$mikado-yellow: #ffc700ff;
$seasalt: #f7f8faff;
$white: #ffffffff;
$picton-blue: #00b1ffff;
$medium-slate-blue: #8f64ffff;
$seasalt-2: #f7f8faff;
$light-red: #ff696fff;
$dim-gray: #9f9f9f;
$seasalt-3: #f7f8faff;
$tiffany-blue: #76cbccff;

// Text colors
$primary-text: $black;
