@import 'src/styles/variables';

.button {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid $mikado-yellow;
  border-radius: 8px;
  color: $black;
  padding: 12px;
  font-weight: 400;

  &:hover {
    background-color: $mikado-yellow;
    font-weight: 500;
    cursor: pointer;
  }
}
